@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap");
* {
  /* font-family: "Poppins", sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-family: "Hanuman", serif;
  /* font-weight: 100;
  font-style: normal; */
  line-height: 1.6;
  background: #f9f9f9;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background: rgb(255, 214, 0);
  color: rgb(13, 37, 67);
  margin: 20px;
  border-radius: 50px;
}
/* .logo {
  display: flex;
  align-items: center;
  gap: 10px;
} */
header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}
header .logo img {
  display: block;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  /* margin-right: 50px; */
}
.nav-link a {
  text-decoration: none;
  color: rgb(13, 37, 67);
  font-weight: bold;
  font-style: normal;
}
.nav-link,
a:hover {
  color: white;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
}

/* hero secrion */
.hero {
  padding: 50px;
  margin: 50px;
}
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px 0 50px;
}
.hero::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 50px;
  right: 50px;
  bottom: 0;
  background-image: url("/asset/blue-moon.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: 0;
  background-size: cover;
  background-position: center;
  height: 400px;
  margin: 20px;
  border-radius: 20px;
}
.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-text p {
  margin-bottom: 20px;
}

.hero-title {
  font-size: 2rem;
  margin-bottom: 20px;
  line-height: 2.5rem;
  color: #00203f;
}

.hero-image img {
  max-width: 300px;
  border-radius: 10px;
}

/* search bar */
.search {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  width: 200px;
}
/* .search-btn {
  display: flex;
  gap: 20px;
  padding: 0 10px;
} */
.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card-shop i {
  position: absolute;
  top: 50px;
}
.card-shop i:hover {
  position: absolute;
  top: 45px;
  font-size: 20px;
  cursor: pointer;
}

.search i {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
}

.search input {
  width: 100%;
  padding: 10px 10px 10px 50px;
  border: 1px solid white;
  border-radius: 50px;
}

/* Featured Section */
.featured {
  padding: 50px;
  text-align: center;
}

h2 {
  margin: 20px;
  font-size: 2rem;
  color: rgb(255, 214, 0);
  text-align: center;
}

.book-list {
  display: flex;
  /* justify-content: center; */

  flex-wrap: nowrap;
  padding: 20px;
  gap: 20px;
  overflow-x: auto;
}

.book-card {
  flex: 0 0 auto;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  flex: 0 0 auto;
}

.book-card img {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
}
/* about page */
.about-me-title {
  text-align: center;
  color: #00203f;
  font-size: 2rem;
  padding: 20px;
}
.about-me img {
  border-radius: 100%;
}
.about-me-text {
  width: 20 px;
  padding: 50px;
  font-size: 20px;
  font-weight: 500;

  color: white;
  text-align: center;
}

.section-about-me {
  background-color: #00203f;
  border-radius: 50px 50px 0 0;

  margin: 50px;
}
.section-social {
  background-color: rgb(255, 214, 0);
  border-radius: 0 0 50px 50px;
  margin-bottom: 50px;
  margin: 50px;
}
.about-me-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 50px;
}
.about-me-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.social-links a i {
  color: #00203f;
  font-size: 30px;
  gap: 20px;
}

/* category */
.category {
  padding: 0;
}
.category h1 {
  text-align: start;
  color: #00203f;
}
.category a {
  border-radius: 10px;
  margin: 20px;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}

.category-author img {
  width: 50px;
  height: 50px;
  border-radius: 90%;
}
.category .book-card {
  width: 200px;
  font-size: 14px;
}
.category .book-card img {
  width: 130px;
  height: 150px;
  border-radius: 10px;
}
.category h3 {
  font-size: 16px;
}

/* author */
.author-card {
  display: flex;
  justify-content: center;
}
.card {
  color: #333;
  padding: 20px;
  overflow: hidden;
  transition: 0.5s;
}

.card-content {
  display: flex;
  gap: 16px;
  align-items: center;
}

.card img {
  width: 128px;
  height: 128px;
  object-fit: cover;
  object-position: center;
  border-radius: 9999px;
  transition: all 0.5s ease 0.5s;
}

.card:hover img {
  width: 144px;
  height: 144px;
  cursor: pointer;
}

.info h1 {
  margin: 0;
  color: #2d3748;
  font-weight: bold;
}

.info p {
  margin: 4px 0;
  color: #718096;
}

.info a {
  font-size: 12px;
  color: #4a5568;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.5s ease 0.3s;
  display: inline-block;
}

.card:hover .socials {
  bottom: 8px;
}

/* Footer */
footer {
  background: rgb(255, 214, 0);
  color: #00203f;
  font-weight: semi-bold;
  text-align: center;
  padding: 20px;
}

/* btn */
.hero-text button {
  padding: 10px 20px;
  background: rgb(255, 214, 0);
  color: #00203f;
  font-weight: bold;
  font-size: medium;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buy-btn {
  justify-content: center;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: rgb(255, 214, 0); /* You can change color */
  color: #00203f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: small;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.button {
  display: flex;
  justify-content: center;

  gap: 10px;
}

button:hover {
  background-color: #00203f;
  color: rgb(255, 214, 0);
}
/* Responsive styles */
@media screen and (max-width: 775px) {
  header {
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }
  .hero-content {
    flex-direction: column;
    align-items: center;
  }
  .search-btn {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .card-shop i {
    position: relative;
    top: 5px;
  }
  .about-me-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 10px;
    margin: 10px;
  }
  .logo span:last-child {
    font-size: 1.2rem;
  }
  .search input {
    width: 100%;
    padding: 8px 8px 8px 40px;
  }
  .hero-image img {
    max-width: 100%;
  }
  .author-card {
    flex-direction: column;
    gap: 20px;
  }
  .card-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .card img {
    width: 96px;
    height: 96px;
  }
  .card-shop i {
    position: relative;
    top: 5px;
  }
  .search-btn {
    flex-direction: column;
    align-items: center;
  }
  .about-me-title {
    flex-direction: column;
    text-align: center;
  }
  .about-me-container {
    flex-direction: column;
    align-items: center;
  }
  .about-me img {
    width: 100%;
    max-width: 300;
  }

  /* Hero background fix */
  .hero {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 20px;
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/asset/blue-moon.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
  }

  /* Ensure .search-btn is flex by default */
  .search-btn {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
